body {
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/* Styles for the white box overlay */

.simple {
  background: gray;
}
.dashboard {
  background: #ea6820;
}
.homeButton {
  width: fit-content;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  color: white;
}
.homeButton-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 32px;
}
