.layout {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
}

.outlet {
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  min-height: 100vh;
}

.main.closed {
  width: calc(100% - 50px); /* Adjust the width when closed */
}

.topbar {
  color: white;
  background-color: #444;
}
